.menu {
  width: 42px;
  height: 42px;
  padding: 0;
  cursor: pointer;
  color: var(--white);
  border-radius: 50%;
  box-shadow: var(--depth);
  font-size: var(--font-size-s);
  border: 3px solid var(--white);
  margin-right: env(safe-area-inset-right);
  background: linear-gradient(135deg, var(--primary), var(--secondary));
  transition: box-shadow 100ms ease-in, transform 100ms ease-in;
  top: calc(13px);
  animation: bounce-in 400ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 14px;

  &:active {
    box-shadow: 0 0 3px #0005;
    transform: translateY(5px) translateZ(0);
  }

  @media (min-width: 380px) {
    right: 30px;
  }
}
