@import "../../layout/mixins.scss";

.menu {
  width: 42px;
  height: 42px;
  padding: 0;
  top: 13px;
  cursor: pointer;
  color: var(--white);
  border-radius: 50%;
  font-size: var(--font-size-s);
  border: 3px solid var(--white);
  margin-right: env(safe-area-inset-right);
  background: linear-gradient(135deg, var(--primary), var(--secondary));
  transition: transform 100ms ease-in;
  animation: bounce-in 400ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 14px;

  // @include monument-effect;

  &::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    transition: opacity 100ms ease-in;
    left: -3px;
    top: -3px;
    width: inherit;
    height: inherit;
    box-shadow: var(--depth);
    z-index: -1;
  }

  &:active {
    transform: translateY(5px) translateZ(0);

    &::before {
      opacity: 0;
    }
  }

  @media (min-width: 380px) {
    right: 30px;
  }
}
