@import "../../layout/mixins.scss";

.menu {
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  color: var(--white);
  font-size: var(--font-size-s);
  width: var(--action-button-size);
  height: var(--action-button-size);
  margin-right: env(safe-area-inset-right);
  border: var(--border-width) solid var(--white);
  background: linear-gradient(135deg, var(--primary), var(--secondary));
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 14px;
  top: calc(
    (var(--navbar-height) - var(--action-button-size) - 8px) / 2
  ); // TODO

  &::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    left: -var(--border-width);
    top: -var(--border-width);
    box-shadow: var(--depth);
    width: inherit;
    height: inherit;
    z-index: -1;
  }

  @media (min-width: 380px) {
    right: 30px;
  }
}
