.technology {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0) translateZ(0);
    transition: box-shadow 200ms ease-in, transform 180ms ease-in;
    padding-top: 100%;
    animation: bounce-in 550ms ease-in-out;
    background-color: var(--white);
    box-shadow: var(--depth);
    position: relative;
    border-radius: 6px;
  }

  &__image {
    top: 50%;
    max-width: 70%;
    max-height: 70%;
    transform: translateY(-50%) translateZ(0);
    position: absolute;
  }
}
