@import "../layout/mixins.scss";

header {
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  height: var(--navbar-height);
  margin: env(safe-area-inset-top) auto 0;
  padding: 0 14px 8px;
  max-width: 1240px;
  position: relative;

  @mixin notch($padding) {
    padding-left: calc(#{$padding} + env(safe-area-inset-left));
    padding-right: calc(#{$padding} + env(safe-area-inset-right));
  }

  @include notch(14px);

  @media (min-width: 380px) {
    padding: 0 30px 8px;

    @include notch(30px);
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 250px);
  margin: 0;
}

.desktop.hidden,
.mobile.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}

ul {
  display: flex;
  align-items: center;
  margin: 0;

  li {
    margin-left: 5px;
    display: inline-block;

    a {
      display: block;
      color: var(--white);
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-bold);
      border-radius: var(--rounded-corners);
      text-transform: uppercase;
      text-decoration: none;
      padding: var(--vertical-gap) var(--horizontal-gap);
      position: relative;

      &.active {
        color: var(--secondary);
        background-color: var(--white);

        @include monument-effect;
      }

      &:not(.active):hover {
        color: var(--secondary);
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}
