nav {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  z-index: 100;
  height: 76px;
  position: sticky;
  width: 100%;
  top: 0px;
}

nav > div {
  margin: 0px auto;
  padding: 0px 30px;
  max-width: 1240px;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
}

.technology__item:hover,
.project__item:hover,
.menu:active {
  transition: box-shadow 200ms ease-in, transform 180ms ease-in;
  box-shadow: 0px 0px 3px #0005;
  transform: translateY(5px) translateZ(0);
}

nav ul li a:not(.active):active {
  transition: box-shadow 200ms ease-in, transform 180ms ease-in;
  box-shadow: 0px 0px 0px #0000;
  transform: translateY(5px) translateZ(0);
}

nav ul.desktop {
  display: flex;
  flex-wrap: wrap;
}

nav li {
  display: inline-block;
}

nav li a {
  transition: box-shadow 200ms ease-in, transform 150ms ease-in;
  font-size: 20px;
  display: inline-block;
}

.nav a {
  margin-left: 5px;
  transition: all 300ms ease;
  border-radius: 6px;
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
  padding: 12px 16px;
  text-transform: uppercase;
}

.nav .active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--shadow);
}

.nav a:not(.active):hover {
  color: var(--secondary-color);
  background-color: rgba(255, 255, 255, 0.8);
}

.menu {
  color: var(--primary-color);
  font-size: 22px;
  position: absolute;
  right: 30px;
  margin-top: 12px;
  animation-name: zoom-in;
  animation-duration: 400ms;
  transition: box-shadow 100ms ease-in, transform 100ms ease-in;
  display: flex;
  box-shadow: var(--shadow);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  margin-right: env(safe-area-inset-right);
  align-items: center;
  justify-content: center;
  border: 3px solid var(--primary-color);
  background: linear-gradient(
    90deg,
    var(--theme-color),
    var(--secondary-color)
  );
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 220px);
}

nav ul {
  display: flex;
  align-items: center;
}

.mobile {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
}

.mobile > div {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 0px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  margin-top: 70px;
}

.mobile ul {
  text-align: center;
  transition: opacity 500ms ease 460ms transform 500ms ease 460ms;
  padding: 0px 20px;
  left: 0px;
  margin: 0px auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px;
}

.desktop.hidden {
  opacity: 0.001;
  visibility: hidden;
}

.mobile li {
  margin-bottom: 20px;
  width: 100%;
}

.mobile a {
  margin: 0px;
  display: block;
}

.list-appear {
  transform: translateY(40px) translateZ(0);
  opacity: 0.001;
}

.list-appear.list-appear-active {
  transform: translateY(0px) translateZ(0);
  opacity: 1;
  transition: all 400ms ease;
}

.nav.mobile ul.opened {
  opacity: 1;
  transform: scale(1) translateZ(0);
}

@media (max-width: 380px) {
  nav > div {
    padding: 0px 14px;
  }

  .menu {
    right: 14px;
  }
}
