.contact__item {
  animation-name: fade-in;
  animation-duration: 400ms;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 620px;
  width: 100%;
  min-height: 150px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 6px;
  margin: 12px 10px;
  box-shadow: var(--shadow);
}

.contact__icon {
  flex: 1;
  margin-right: 10px;
  width: 30%;
  font-size: 74px;
}

.contact__content {
  text-align: left;
  width: 70%;
}

.contact__title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.contact__link {
  font-weight: 400;
  font-size: 26px;
  color: #65a2e0;
}

@media (max-width: 600px) {
  .contact__item {
    width: 100%;
    padding-bottom: 30px;
  }

  .contact__item > * {
    text-align: center;
    width: 100%;
    margin: 0;
  }

  .contact__icon {
    margin: 14px 0;
  }

  .contact__title {
    margin-top: 8px;
  }

  .contact__link {
    font-size: 20px;
  }
}
