.about {
  display: flex;
  flex-wrap: wrap;

  p {
    animation: fade-in 400ms ease;
  }
}

.image-appear {
  opacity: 0;
  transform: scale(0);

  &.image-appear-active {
    opacity: 1;
    animation: falcon-landing 500ms ease;
  }
}

.content__container {
  flex: 1;
  padding: 0 15px;
  width: calc(100% / 3 * 2);

  @media (max-width: 600px) {
    width: 100%;
    padding: 0 12px;
  }
}

.image__container {
  width: calc(100% / 3);
  max-width: 350px;

  @media (max-width: 600px) {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.about__image {
  font-size: 0;
  box-shadow: var(--shadow);
  background-color: var(--primary-color);
  height: auto;
  margin: 12px 10px;
  padding: 3px;
  position: sticky;
  top: 20px;
  border-radius: 6px;
  width: calc(100% - 22px);

  @media (max-width: 600px) {
    margin-bottom: 20px;
    max-width: 300px;
  }
}
