.about {
  display: flex;
  flex-wrap: wrap;
}

.about p {
  animation: fade-in 400ms ease;
}

.image-appear {
  opacity: 0.001;
  transform: scale(0);
}

.image-appear.image-appear-active {
  opacity: 1;
  animation: falcon-landing 500ms ease;
}

.content__container {
  flex: 1;
  padding: 0px 15px;
  width: calc(100% / 3 * 2);
}

.image__container {
  width: calc(100% / 3);
  max-width: 350px;
}

.about__image {
  font-size: 0px;
  box-shadow: var(--shadow);
  background-color: var(--primary-color);
  height: auto;
  margin: 12px;
  padding: 3px;
  position: sticky;
  top: 20px;
  border-radius: 6px;
  width: calc(100% - 24px);
}

@media (max-width: 600px) {
  .image__container {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .image__container,
  .content__container {
    width: 100%;
  }

  .about__image {
    margin-bottom: 20px;
    max-width: 300px;
  }
}
