.project__item {
  transition: box-shadow 200ms ease-in, transform 180ms ease-in;
  animation: fade-in 400ms ease;
  border: 3px solid var(--primary-color);
  background-color: var(--primary-color);
  font-size: 30px;
  font-weight: 500;
  height: 0px;
  transform: translateY(0) translateZ(0);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: calc(100% / 3 - 20px);
  padding-top: calc((100% / 3 - 20px) / 5 * 3);
  margin: 12px 10px;
  box-shadow: var(--shadow);
}

.project__image {
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms ease;
  border-radius: 4px;
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.project__item:hover .project__image {
  opacity: 0.02;
}

.project__content {
  height: 100%;
  width: 100%;
  transition: opacity 300ms ease;
  opacity: 0.001;
  position: absolute;
  top: 0px;
}

.project__about {
  padding: 12px 16px;
  height: calc(100% - 44px);
  overflow: auto;
}

.project__item:hover .project__content {
  opacity: 1;
}

.project__about h3 {
  margin-top: 10px;
  color: var(--secondary-color);
  font-size: 22px;
}

.project__about p {
  color: var(--secondary-color);
  font-size: 18px;
  margin-bottom: 6px;
}

.project__links {
  left: 0px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  padding: 16px 0px 14px 0px;
  width: 100%;
}

.project__links a {
  text-align: center;
  width: 20%;
  font-size: 24px;
  color: var(--theme-color);
}

.project__links a:hover {
  text-decoration: underline;
}

@media (max-width: 1020px) {
  .project__item {
    width: calc(100% / 2 - 20px);
    padding-top: calc((100% / 2 - 20px) / 5 * 3);
  }
}

@media (max-width: 580px) {
  .project__item {
    width: 100%;
    padding-top: calc(100% / 5 * 3);
  }
}
