.content {
  padding: 0 30px;
  overflow-x: hidden;
  width: 100%;
  position: sticky;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  opacity: 1;
  transition: opacity 300ms ease 200ms;

  &.zoom {
    opacity: 0;
    transition: opacity 300ms ease;
  }

  > div {
    max-width: 1240px;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  @media (max-width: 860px) {
    padding: 0 10px;
  }

  @media (max-width: 380px) {
    padding: 0 6px;
    width: 100%;
  }
}
