.content {
  &.about,
  &.contact {
    display: flex;
  }

  &.about {
    flex-wrap: wrap;
  }

  &.contact {
    align-items: center;
    flex-direction: column;
  }

  &.technologies,
  &.projects {
    margin: 0;
    padding: var(--vertical-gap) 0;
    display: grid;
    column-gap: 20px;
    row-gap: 24px;
  }

  &.technologies {
    grid-template-columns: repeat(auto-fill, minmax(134px, 1fr));

    @media (min-width: 500px) {
      grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    }

    @media (min-width: 680px) {
      grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
    }

    @media (min-width: 860px) {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    @media (min-width: 1020px) {
      grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
    }
  }

  &.projects {
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));

    @media (min-width: 500px) {
      grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
    }

    @media (min-width: 500px) and (orientation: landscape) {
      // TODO
      grid-template-columns: repeat(auto-fill, minmax(254px, 1fr));
    }

    @media (min-width: 680px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}
