.content {
  &.about,
  &.contact {
    display: flex;
    flex-wrap: wrap;
  }

  &.technologies,
  &.projects {
    margin: 12px 0;
    display: grid;
    column-gap: 20px;
    row-gap: 24px;
  }

  &.technologies {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));

    @media screen and (min-width: 500px) {
      grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    }

    @media screen and (min-width: 680px) {
      grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
    }

    @media screen and (min-width: 860px) {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    @media screen and (min-width: 1020px) {
      grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }
  }

  &.projects {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    @media screen and (min-width: 500px) {
      grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
    }

    @media screen and (min-width: 680px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }

  &.contact {
    justify-content: center;
  }
}
