:root {
  --vh: 100vh;
  --primary: #2d2faf;
  --secondary: #8140b1;
  --white: #f8f8f8;
  --depth: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  --font-size-xs: 1.78rem;
  --font-size-s: 2rem;
  --font-size-m: 2.5rem;
  --font-size-l: 4.2rem;
  --font-size-xl: 7.2rem;
  --font-size-xxl: 12rem;
  --font-family: "Roboto", sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --rounded-corners: 6px;
  --navbar-height: 76px;
  --action-button-size: 42px;
  --border-width: 3px;
  --horizontal-gap: 16px;
  --vertical-gap: 12px;

  @supports (-webkit-touch-callout: none) {
    --vh: -webkit-fill-available;

    @media (display-mode: standalone) {
      --vh: 100vh;
    }
  }
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  font-family: var(--font-family);
  background-color: var(--primary);
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-top: 8px;
  margin-bottom: 22px;
  font-size: var(--font-size-xs);
  color: var(--white);
}

h2 {
  margin: 20px auto;
  font-size: 3rem;
  text-shadow: var(--depth);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  color: var(--white);

  @media (min-width: 680px) {
    font-size: var(--font-size-l);
  }
}

h3 {
  font-weight: var(--font-weight-medium);
}

a {
  color: var(--white);
  text-decoration: none;
}

li {
  display: inline-block;
}

ul {
  margin: 0;
}
