.technologies div {
  transition: box-shadow 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
    transform 150ms ease-in;
  animation-name: zoom-in;
  animation-duration: 550ms;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding-top: calc(100% / 5 - 20px);
  border-radius: 6px;
  width: calc(100% / 5 - 20px);
  margin: 12px 10px;
  box-shadow: var(--shadow);
}

.projects a {
  transition: box-shadow 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
    transform 150ms ease-in;
  animation-name: fade-in;
  animation-duration: 400ms;
  color: #f8f8f8;
  border: 3px solid #f8f8f8;
  background: #f8f8f8;
  font-size: 30px;
  font-weight: 500;
  height: 0px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: calc(100% / 3 - 20px);
  padding-top: calc((100% / 3 - 20px) / 5 * 3);
  margin: 12px 10px;
  box-shadow: var(--shadow);
}

.technologies img {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  max-width: 70%;
  max-height: 70%;
}

.projects img {
  border-radius: 4px;
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.projects,
.technologies {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .technologies div {
    width: calc(100% / 4 - 20px);
    padding-top: calc(100% / 4 - 20px);
  }
}

@media (max-width: 860px) {
  .projects a {
    width: calc(100% / 2 - 20px);
    padding-top: calc((100% / 2 - 20px) / 5 * 3);
  }

  .technologies div {
    width: calc(100% / 3 - 20px);
    padding-top: calc(100% / 3 - 20px);
  }
}

@media (max-width: 600px) {
  .technologies div {
    width: calc(100% / 2 - 20px);
    padding-top: calc(100% / 2 - 20px);
  }
}

@media (max-width: 380px) {
  .projects a {
    width: calc(100% - 20px);
    padding-top: calc((100% - 20px) / 5 * 3);
  }
}
