.icon__image {
  margin-right: 8px;
  animation: bounce-in 400ms ease;
  box-shadow: var(--shadow);
  transition: box-shadow 100ms ease-in, transform 100ms ease-in;
  background-color: var(--primary-color);
  position: relative;
  padding: 3px;
  height: 44px;
  width: 44px;
  border-radius: 50%;

  &:active {
    box-shadow: 0px 0px 3px #0005;
    transform: translateY(5px) translateZ(0);
  }
}
