.technology__item {
  transition: box-shadow 200ms ease-in, transform 180ms ease-in;
  animation: bounce-in 550ms ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0) translateZ(0);
  background-color: var(--primary-color);
  padding-top: calc(100% / 5 - 20px);
  border-radius: 6px;
  width: calc(100% / 5 - 20px);
  margin: 12px 10px;
  box-shadow: var(--shadow);
}

.technology__image {
  opacity: 1;
  transition: opacity 300ms ease;
  top: 50%;
  transform: translateY(-50%) translateZ(0);
  position: absolute;
  max-width: 70%;
  max-height: 70%;
}

@media (max-width: 1100px) {
  .technology__item {
    width: calc(100% / 4 - 20px);
    padding-top: calc(100% / 4 - 20px);
  }
}

@media (max-width: 860px) {
  .technology__item {
    width: calc(100% / 3 - 20px);
    padding-top: calc(100% / 3 - 20px);
  }
}

@media (max-width: 600px) {
  .technology__item {
    width: calc(100% / 2 - 20px);
    padding-top: calc(100% / 2 - 20px);
  }
}
