.project {
  &__image {
    cursor: pointer;
    opacity: 1;
    transition: opacity 300ms ease;
    border-radius: 4px;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
  }

  &__content {
    height: 100%;
    width: 100%;
    transition: opacity 300ms ease;
    opacity: 0;
    position: absolute;
    top: 0;
  }

  &__item {
    transition: box-shadow 200ms ease-in, transform 180ms ease-in;
    animation: fade-in 400ms ease;
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    font-size: 30px;
    font-weight: 500;
    height: 0;
    transform: translateY(0) translateZ(0);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: calc(100% / 3 - 20px);
    padding-top: calc((100% / 3 - 20px) / 5 * 3);
    margin: 12px 10px;
    box-shadow: var(--shadow);

    &:hover {
      transition: box-shadow 200ms ease-in, transform 180ms ease-in;
      box-shadow: 0 0 3px #0005;
      transform: translateY(5px) translateZ(0);

      .project__content {
        opacity: 1;
      }

      .project__image {
        opacity: 0.02;
      }
    }

    @media (max-width: 1020px) {
      width: calc(100% / 2 - 20px);
      padding-top: calc((100% / 2 - 20px) / 5 * 3);
    }

    @media (max-width: 580px) {
      width: calc(100% - 20px);
      padding-top: calc(calc(100% - 20px) / 5 * 3);
    }
  }

  &__about {
    padding: 12px 16px;
    height: calc(100% - 44px);
    overflow: auto;

    h3 {
      margin-top: 10px;
      color: var(--secondary-color);
      font-size: 22px;
    }

    p {
      color: var(--secondary-color);
      font-size: 18px;
      margin-bottom: 6px;
    }
  }

  &__links {
    left: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 7px;
    width: 100%;

    a {
      text-align: center;
      width: 30%;
      font-size: 24px;
      color: var(--theme-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
