.icon {
  margin-right: 7px;
  animation: bounce-in 400ms ease-in-out;
  transition: transform 100ms ease-in;
  height: var(--action-button-size);
  width: var(--action-button-size);
  background-color: var(--white);
  padding: var(--border-width);
  position: relative;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    transition: opacity 100ms ease-in;
    box-shadow: var(--depth);
    width: inherit;
    height: inherit;
    z-index: -1;
    left: 0;
    top: 0;
  }

  &:focus {
    // TODO mixin
    outline: 0;
    box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);

    // TODO
    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: inherit;
    //   height: inherit;
    //   left: 0;
    //   top: 0;
    //   box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
    //   border-radius: inherit;
    // }
  }

  &__image {
    font-size: 0;
    height: calc(var(--action-button-size) - var(--border-width) * 2);
    width: calc(var(--action-button-size) - var(--border-width) * 2);
    border-radius: inherit;
    overflow: hidden;
  }

  &:active {
    transform: translateY(5px) translateZ(0);

    &::before {
      opacity: 0;
    }
  }
}
