@import "../../layout/mixins.scss";

.icon {
  margin-right: 7px;
  padding: var(--border-width);
  height: var(--action-button-size);
  width: var(--action-button-size);
  background-color: var(--white);
  position: relative;
  border-radius: 50%;

  @include monument-effect;

  &__image {
    font-size: 0;
    height: calc(var(--action-button-size) - var(--border-width) * 2);
    width: calc(var(--action-button-size) - var(--border-width) * 2);
  }
}
