.icon {
  margin-right: 7px;
  box-shadow: var(--depth);
  background-color: var(--white);
  transition: box-shadow 100ms ease-in, transform 100ms ease-in;
  animation: bounce-in 400ms ease;
  position: relative;
  border-radius: 50%;
  padding: 3px;
  height: 42px;
  width: 42px;

  &__image {
    font-size: 0;
    height: 36px;
    width: 36px;
  }

  &:active {
    box-shadow: 0 0 3px #0005;
    transform: translateY(5px) translateZ(0);
  }
}
