.project {
  &__image {
    top: 0;
    opacity: 1;
    cursor: pointer;
    border: 3px solid var(--white);
    transition: opacity 300ms ease-in-out;
    border-radius: 6px;
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: opacity 300ms ease-in-out;
    position: absolute;
    opacity: 0;
    top: 0;
  }

  &__item {
    height: 0;
    animation: fade-in 400ms ease-in-out;
    background-color: var(--white);
    font-weight: var(--font-weight-medium);
    transform: translateY(0) translateZ(0);
    transition: box-shadow 200ms ease-in, transform 180ms ease-in;
    padding-top: calc(100% / 5 * 3);
    box-shadow: var(--depth);
    position: relative;
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 6px;

    &:hover {
      box-shadow: 0 0 3px #0005;
      transform: translateY(5px) translateZ(0);

      .project__content {
        opacity: 1;
      }

      .project__image {
        opacity: 0.04;
      }
    }

    @media (min-width: 580px) {
      width: calc(100% / 2 - 20px);
      padding-top: calc((100% / 2 - 20px) / 5 * 3);
    }

    @media (min-width: 1020px) {
      width: calc(100% / 3 - 20px);
      padding-top: calc((100% / 3 - 20px) / 5 * 3);
    }
  }

  &__title {
    margin-top: 9%;
    padding: 12px 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--font-weight-black);
    color: var(--secondary);
    font-size: 26px;
  }

  &__links {
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    padding-bottom: 9%;
    width: 100%;

    a {
      width: 32%;
      text-align: center;
      color: var(--primary);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
