.desktop {
  display: flex;
  flex-wrap: wrap;

  &.desktop-menu-appear {
    opacity: 0;

    &-active {
      animation: fade-in 400ms ease-in-out;
      animation-fill-mode: forwards;
      opacity: 1;
    }
  }
}
