.icons {
  z-index: 100;
  display: flex;
  align-items: center;
  height: 100%;
  width: 210px;
  position: relative;
}

.icons img {
  margin-right: 8px;
  animation-name: zoom-in;
  animation-duration: 400ms;
  box-shadow: var(--shadow);
  transition: box-shadow 100ms ease-in, transform 100ms ease-in;
  background-color: #f8f8f8;
  position: relative;
  padding: 3px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.icons img:active {
  box-shadow: 0 0 0 #0000;
  transform: translateY(5px);
}
