.projects,
.technologies,
.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.switch-wrapper {
  height: 100%;
  position: relative;

   > div {
    width: 100%;
    min-height: 100%;
    position: absolute;
    padding-bottom: 20px;

    @supports (padding-left: env(safe-area-inset-left)) {
      padding-bottom: calc(20px + env(safe-area-inset-left));
      padding-left: env(safe-area-inset-left);
      padding-right: env(safe-area-inset-right);
    }
  }
}

.contact {
  justify-content: center;
}

.container {
  overflow-x: hidden;
  width: 100%;
  position: sticky;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.content {
  padding: 0px 30px;

   > div {
    max-width: 1240px;
    margin: 0px auto;
    padding-bottom: 20px;
  }

  @media (max-width: 860px) {
    padding: 0px 10px;
  }

  @media (max-width: 380px) {
    padding: 0px 6px;
    width: 100%;
  }
}

.container {
  opacity: 1;
  transition: opacity 300ms ease 200ms;

  &.zoom {
    opacity: 0;
    transition: opacity 300ms ease;
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0) translateZ(0);
  }

  50% {
    transform: scale(1.08) translateZ(0);
  }

  75% {
    transform: scale(0.92) translateZ(0);
  }

  100% {
    transform: scale(1) translateZ(0);
  }
}

@keyframes falcon-landing {
  0% {
    transform: scale(1.6) translateZ(0);
    opacity: 0;
  }

  60% {
    transform: scale(0.92) translateZ(0);
  }

  100% {
    transform: scale(1) translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(40px) translateZ(0);
    opacity: 0;
  }

  50% {
    transform: translateY(40px) translateZ(0);
    opacity: 0;
  }

  100% {
    transform: translateY(0px) translateZ(0);
    opacity: 1;
  }
}
