:root {
  --shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  --primary-color: #f8f8f8;
  --secondary-color: #8140b1;
  --theme-color: #2d2faf;
}

html,
body {
  min-width: 320px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-weight: 500;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 0;
}

p {
  letter-spacing: 0.5px;
  margin-top: 8px;
  margin-bottom: 22px;
  font-size: 22px;
  color: var(--primary-color);
}

h2 {
  text-shadow: var(--shadow);
  margin: 20px auto;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  color: var(--primary-color);

  @media (max-width: 680px) {
    font-size: 30px;
  }
}

h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 50px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
