.language {
  width: 100%;
  height: 100%;
  padding: 0;
  color: var(--white);
  border-radius: 50%;
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  background: linear-gradient(135deg, var(--primary), var(--secondary));
  cursor: pointer;
  border: 0;

  &:focus {
    // TODO mixin
    outline: 0;
    // box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);

    // TODO
    &::after {
      content: "";
      position: absolute;
      width: inherit;
      height: inherit;
      left: 0;
      top: 0;
      box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
      border-radius: inherit;
    }
  }
}
