.background {
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transform: scale(1.1);
  position: fixed;

  @media not all and (display-mode: standalone) {
    height: -webkit-fill-available;
  }
}
